<% if (!user) { %>
<%- include('../partials/_header')  %> 
<% } else { %>
<%- include('../partials/_loginHeader')  %> 
<% } %>
    <div class="container" id="container" >
        <% posts.forEach((post, index)=> { %>
            <% post.index=index+1 %>
                <div class="item-level-<%- post.index%> " >
                    <%- include('../partials/_post_card',{post, index}) %>
                </div>
                <% }) %>
                
    </div>